
<div class="container">
<div *ngFor="let item of items | async" >

	
   <div class="col-md-6 col-lg-6">


  <md-card>
	      
	  
	  <md-card-title align="center" >
		   
		  {{item.snippet.thumbnails.title}}
	  
	
	  </md-card-title>
	       
	

	<md-card-content>
			      <p>{{item.snippet.thumbnails.des}}</p>		        </md-card-content>
					
								      </md-card>



</div>





  <div class="col-md-6 col-lg-6">     

 <md-card>

	   <md-card-title align="center" >
		   {{item.snippet.thumbnails.pictitle}} </md-card-title>

	     <img md-card-image src="{{item.snippet.thumbnails.pic}}">	        
		    
				        
								     </md-card>

  </div>





</div>

</div>

