


<div *ngFor="let item of items | async" >

	       
	   <div class="col-md-6 col-lg-6">
		         

		     <md-card>
			                   
			               
			               <md-card-title align="center">
					                    
					       {{item.snippet.channelId}}

								           
								         
								           </md-card-title>
					                      
					               
					           
					               <md-card-content>
							       <p>{{item.snippet.channelTitle}}</p>
											                                 				                                         </md-card-content>
																					               
																					                                                                       </md-card>
																													         
																													         
																													         
	   </div>





	     <div class="col-md-6 col-lg-6">     

		      <md-card>

			      <md-card-title align="center" >{{item.snippet.description}}</md-card-title>

			      <img md-card-image src="{{item.snippet.liveBroadcastContent}}">
						                      
						                          
						                                              
						                                                                           </md-card>

															     </div>





</div>

  
