


<div >

	       
	   <div class="col-md-6 col-lg-6">
		         

		     <md-card>
			                   
			               
			               <md-card-title align="center" >
					                    
					                         Card with title
								           
								         
								           </md-card-title>
					                      
					               
					           
					               <md-card-content>
							                                     <p>This is supporting text.</p>
											                                         <p>lalalal </p>				                                         </md-card-content>
																					               
																					                                                                       </md-card>
																													         
																													         
																													         
	   </div>





	     <div class="col-md-6 col-lg-6">     

		      <md-card>

			                 <md-card-title align="center" >Farm</md-card-title>

					              <img md-card-image src="https://s3-eu-west-1.amazonaws.com/xsfarming/xsfarming/farm.jpg">
						                      
						                          
						                                              
						                                                                           </md-card>

															     </div>





</div>


