<md-sidenav-layout class="demo-root" fullscreen>

	          <md-sidenav #start>
			

  <md-nav-list>

			    <a md-list-item routerLink="/videos">Videos</a>

  <hr>

  </md-nav-list>
  <button md-button (click)="start.close()">CLOSE</button>

  <div (swipe)="start.close()"></div>
			   
						                        </md-sidenav>

									                          <md-toolbar>
													                                        <button class="app-icon-button" (click)="start.open()">
			     <i class="material-icons app-toolbar-menu" style="color:black">menu</i>
																									                                                       </button>


																															    		


       

 
																															       <a routerLink="/" routerLinkActive="active">
																																       <span >XS Farming</span> </a>
 											      <span class="app-toolbar-filler"></span>
																																																                                                                    <button md-button routerLink="/about">About</button>																																																								                                                                          </md-toolbar>  
																																																							   
																																																							    <router-outlet></router-outlet>

																																																							 












																																																							    </md-sidenav-layout >



																																																							
